/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E0EAE2;
  /* padding: 10rem 10rem; */
  /* position: fixed;
  z-index: 1000;
}

.logo {
  font-weight: small;
  font-size: 1rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  
} */
/* 
.navbar-links li a {
  text-decoration: none;
  font-weight: bolder;
  font-size: x-large;
  color: #366000;
}

.navbar-links li a:hover {
  color: black;
  text-decoration: underline;
} */ 
